<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="Test">
	 <parameter name="browser" value="CHROME"/>
		<classes>
			<class name="TestCases.TC_01_MyProtien_Login_using_BaseTest" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
